<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register_Page</title>
  </head>
  <body>
    <form action="/logout">
    Logout <input type="submit" value="Logout"></form>
    <h1> Hey!!! Upload Your File </h1>
    <h2>Hello {{name}} </h2>

    <iframe src="{{file}}" width="300px" height="300px"></iframe>
    
    <br>
    <a href = '{{file}}'>Open File</a>
    <br>
    <br>
    <form action="/download">
    <input type="submit" value="Download File">
    </form>
    <form action="/home" method="POST" enctype="multipart/form-data">
    <input type="file" name= "imageFile">
    <input type="submit" value="Upload">
    </form>
  </body>
</html>
