<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register_Page</title>
  </head>
  <body>
    <h1>User Registration</h1>
    <div>
      <form action="/" method="POST" enctype="multipart/form-data">
      Name: <input type="text" name="Name" id="registerName" /> <br /><br />
      Email:
      <input type="email" name="Email" id="registerEmail" />
      <br /><br />
      Password:
      <input type="password" name="Pass" id="registerPass" />
      <br /><br />
      Contact: <input type="number" name="Contact" id="registerCountry" />
      <br /><br />
      <input type="file" name= "imageFile">
    {{!-- <input type="submit" value="Upload"> --}}
    <br><br>
      <input type="submit" value="Register" />
      </form>
    </div>
    Already registered? <a href="./login">Login</a>
  </body>
</html>
