<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login Page</h1>
    <div>
      <form action="/login" method="POST">
      Email:
      <input type="email" name="Email" id="loginEmail" />
      <br /><br />
      Password:
      <input type="password" name="Pass" id="loginPass" />
      <br /><br />
      <input type="submit" value="Login" />
      </form>
    </div>
    New User? <a href="./">Register here</a>
</body>
</html>